// Material Theming

// CSS Reset
@import '@hi-ui/core-css/base.scss';

// Import the styles for each MDC Web component
@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";
@import "@material/fab/mdc-fab";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/layout-grid/mdc-layout-grid";

// Top bar text theme
.mdc-top-app-bar--active {
  font-weight: bold;
}

// Floating link button styles
.port-float-button-links {
  // Buttons are placed in bottom right corner
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  // Buttons are stacked on top of each other
  vertical-align: middle;
}

// Style homepage text
#contents {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  padding-top: 96px;
  @extend .mdc-typography;
}

// Material-styled lists
ul {
  @extend .mdc-typography;
}

li {
  @extend .mdc-typography--body1;
}

// Give default tags Material styles
h1 {
  text-align: center;
  @extend .mdc-typography--headline1;
}

h2 {
  @extend .mdc-typography--headline2;
}

h3 {
  @extend .mdc-typography--headline3;
}

h4 {
  @extend .mdc-typography--headline4;
}

h5 {
  @extend .mdc-typography--headline5;
}

h6 {
  @extend .mdc-typography--headline6;
}

p {
  @extend .mdc-typography--body1;
}
