// Material Theming

// Import the styles for each MDC Web component
@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";

// Style homepage text
#contents {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    @extend .mdc-typography;
}

// Give default tags Material styles
h1 {
    text-align: center;
    @extend .mdc-typography--headline3;
}

p {
    @extend .mdc-typography--body1;
}

