// Common project styles
@import "./__common";
@import "@material/card/mdc-card";
@import "@material/textfield/mdc-text-field";
@import "@material/select/mdc-select";

#comment-entry {
  margin: auto;
  margin-bottom: 16px;
}

#comment-list {
  margin: auto;
  width: 75%;
}

// Submit button on right of card
#comment-submit {
  margin-left: auto;
}

// Card for messages
.port-card {
  padding: 16px;
  margin-bottom: 16px;
  @extend .mdc-card;
}

.port-card-title {
  @extend h6;
  margin-block-start: 16px;
  margin-block-end: 16px;
}

.port-text-field {
  margin: auto;
  width: 75%;
  @extend .mdc-text-field;
}

.port-text-field-input {
  @extend .mdc-text-field__input;
}

.port-select-label {
  padding-right: 1.5em;
}

.port-card-contents {
  text-align: left;
}

.port-card-actions {
  @extend .mdc-card__actions;
}

.port-card-button {
  @extend .mdc-button;
  @extend .mdc-card__action;
  @extend .mdc-card__action--button;
}

.port-card-button-label {
  @extend .mdc-button__label;
}
