// Common project styles
@import './__common';
@import '@material/card/mdc-card';

#comment-list {
  margin: auto;
  width: 75%;
}

// Card for messages
.port-card {
  padding: 16px;
  margin-bottom: 16px;
  @extend .mdc-card;
}

.port-card-title {
  @extend h4;
  margin-block-start: 16px;
  margin-block-end: 16px;
}

.port-card-contents {
  text-align: left;
}

.port-card-actions {
  @extend .mdc-card__actions;
}

.port-card-button {
  @extend .mdc-button;
  @extend .mdc-card__action;
  @extend .mdc-card__action--button;
}

.port-card-button-label {
  @extend .mdc-button__label;
}
